ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.home-icon, .envelope-icon, .academic-icon, .briefcase-icon {
    height: 2rem;
    width: 2rem;
}

.foto {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 2rem 0;
    border-style: solid;
    border-color: rgb(174, 191, 190);
}
