---
import Envelope from '../iconos/Envelope.astro'
import Home from '../iconos/Home.astro'
---

<header class="main-header">
    <h1 class="logo title">
        Lucía's Portfolio
    </h1>
    <nav class="navbar">
        <a href="/" ><Home className="home-icon" /><span>Home</span></a>
        <a href="/contacto"><Envelope className="envelope-icon"/><span>Contacto</span></a>
        
    </nav>
</header>

<style>
    header {       
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgb(174, 191, 190);
    }

    nav {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.3rem;
    }    

    @media (max-width: 600px) {
        span {
            display: none;
        }
    }

    @media (max-width:403px) {
        header {
            padding-bottom: 18px;
            flex-direction: column;
        }

        h1 {
            text-align: center;
        }
    }
    
    @media (max-width: 300px) {
        header {
            padding: 0;
            padding-bottom: 18px;
        }

        h1 {
            font-size: 1.7em;
        }
    }

</style>