---
import AcademicCap from "../components/iconos/AcademicCap.astro";
import Briefcase from "../components/iconos/Briefcase.astro";
import MainLayout from "../layouts/MainLayout.astro";

---
<MainLayout titulo="Portafolio de Lucía">
	<h2>Lucía Rey Domínguez</h2>
	<div class="container">
	
		<aside class="general-info">
			<img  width="288" src="/foto.webp" class="foto" alt="Lucía Rey Domínguez">
			<ul>
				<li>
					<h2 class="info-general">Información personal</h2>
					<p>Santiago de Compostela</p>
					<p class="email"><a href="mailto:lreydom.appventurers@gmail.com">lreydom.appventurers@gmail.com</a></p>
				</li>
				<li>
					<h2 class="info-general">Idiomas</h2>
					<p>Castellano, gallego: nativo</p>
					<p>Inglés: C1 Cambridge</p>
				</li>
			</ul>
		</aside>
	
		<section class="main-content">

			<section class="education">
				<h3><AcademicCap className="academic-icon" />Formación</h3>
					<ul>
						<li>
							<h4><time>2023</time>Master de Profesorado. Especialidad de Ciencias Experimentales</h4>
							<p>Facultad de Biología | Universidad de Vigo</p>
						</li>
						<li>
							<h4><time>2021</time>Grado en Geología</h4>
							<p>Facultad de Geología | Universidad de Oviedo</p>
						</li>
					</ul>
			</section>
	
			<section class="experience">
				
				<h3 class="h3-experience"><Briefcase className="briefcase-icon"/>Experiencia laboral</h3>
					<ul>
						<li>
							<h4><time>2020</time>Facultad de Geología, Universidad de Oviedo</h4>
							<p>Beca de Colaboración. Tratamiento de datos y trabajo de laboratorio.</p>
						</li>
						<li>
							<h4><time>2019</time>Soluciones y Proyectos de Información SL.</h4>
							<p>Prácticas. Uso del programa de tratamiento de datos geográficos QGIS y Excel.</p>
						</li>
					</ul>
			</section>
		</section>
	</div>

</MainLayout>

<style>
	img {
		border-radius: 100%;
		margin-top: 0;
	}

	h2 {
		margin-left: 1.5rem;
		text-align: center;
	}

	h3 {
		display: flex;
		align-items: center;
		gap: 1rem;
		flex-wrap: wrap;
		
		margin-bottom: 2rem;
	}

	
	h4 {
		margin: 0;
	}
	
	li {
		margin-left: 3rem;
	}
	
	p {
		margin-left: 1rem;
	}
	
	time {
		font-weight: 400;
		padding-right: .5rem;
	}
	
	aside {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		flex-wrap: wrap;
	}
	
	.h3-experience {
		margin-top: 3rem;
	}

	.info-general {
		text-align: start;
		margin: 0;
		font-size: 1.2rem;
	}

	@media (max-width: 750px) {
		.main-content {
			padding-left: 0.7rem;
		}
	}

	@media (max-width:600px) {
		h2, h3, h4, li, p, aside {
			justify-content: center;
			text-align: center;
		}
		
		li {
			margin-left: 0;
		}

		time {
			display: block;
		}
	}

	@media (max-width:403px) {
        h2, h3, h4, li, p, aside {
			margin-left: 0;
			justify-content: center;
		}
    }

	@media (max-width: 300px) {
		h2 {
			font-size: 1.3em;
		}

		aside {
			padding: 0;
		}

		p{
			margin-left: 0;
		}

		ul {
			padding-left: 0;
		}

		.email {
			font-size: 0.7em;
		}
	}

</style>